{% extends 'base.html.twig' %}

{% block body_id 'sac' %}

{% block titpag 'Lista de Chamados' %}

{% block content %}
    <div class="content">
    <form class="form-inline" method="post" action="{{ path('chamado_index') }}">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" name="email" class="form-control" id="email" value="{{ email }}">
      </div>
      <div class="form-group">
        <label for="id_pedido">Pedido:</label>
        <input type="number" name="id_pedido" class="form-control" id="id_pedido" value="{{ id_pedido }}">
      </div>      
      <button type="submit" name="find" value="find" class="btn btn-default">Filtrar</button>
    </form>
    <table id="chamados" class="display table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Id Pedido</th>
            </tr>
        </thead>
        <tbody>
            {% for chamado in pagination %}            
            <tr>
                <td>{{ chamado.id }}</td>
                <td>{{ chamado.title }}</td>
                <td>{{ chamado.name }}</td>
                <td>{{ chamado.email }}</td>
                <td>{{ chamado.id_pedido }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}


    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    /*$(function(){
        $('#chamados').DataTable({
            lengthMenu: [5, 10, 15, 25, 100],
        });
    })*/
    </script>
{% endblock %}
